html
    head 
       title= title 
    body 
       h1= name
       h1= message 
       img(src=imgsrc)
       input(
            type= 'textbox'
            name= 'agreement'
            
       )
       